.other-users{
    display: flex;
    flex-wrap: wrap;
    .card{
      width: 100%;
    }
    .card-content{
      padding: 15px;
      .subtitle:not(:last-child){
        margin-bottom: 10px;
      }
    }
}
